<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:description" content="A web application that can predict hand written or drew numbers by using an AI model for predict numbers.">
        <meta property="og:title" content="Digit Recognizer">
        <title>Digit Recognizer</title>
        <link rel="stylesheet" href="/static/style.css">
        <script defer type="module" src="/static/canvasDraw.js"></script>
    </head>
    <body>
        <div class="wrapper">
            
            <header class="header">
                <!-- <span class="header__slogan">DigitRecognizer</span> -->
                <span class="header__slogan"><a href="#">DRECOGNIZER</a></span>

                <nav class="header__nav">
                    <ul class="header__ul">
                        <li><a href="#">Home</a></li> <!-- change href to "#home" if not working -->
                        <li><a href="#draw" class="explosure">Draw</a></li>
                        <li><a href="#about">About</a></li>
                    </ul>
                </nav>
            </header>

            <section id="home" class="home">
                <div class="home__shadow"></div>
                <h2 class="home__title">Grow up you Precision</h2>
                <p class="home__desc">Here you can prove yourself how good you can write numbers and how legible they are.</p>
                <a class="home__button" href="#draw">Test Your Might</a>
                <!-- <a class="home__button" href="#draw"><button>Test Your Might</button></a> -->
                <article class="home__image">
                    <!-- <img src="" alt=""> -->
                </article>
            </section>

            <main id="draw" class="draw">
                <div class="draw__container">

                    <h1 class="draw__title">Draw a Digit</h1>
                    <p class="draw__desc">Draw on the white box a number digit from 0 to 9 on the canvas in the right side.</p>

                    <div class="draw__nums">
                        <span>0</span>
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>6</span>
                        <span>7</span>
                        <span>8</span>
                        <span>9</span>
                    </div>
                    
                    <!-- <canvas class="draw__canvas" id="canvas"></canvas> -->

                    <canvas class="draw__canvas" id="canvas" width="350" height="350"></canvas>

                    <button class="button draw__predict-button" id="predictButton">Predict</button>
                    <button class="button draw__clear-button" id="clearCanvasButton">Clear</button>
                    <h2 class="draw__prediction">Prediction: <span id="result">None</span></h2>

                </div>
            </main>

        </div>
    </body>
</html>